
.title{
    animation: fadeIn 1s;
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-55%);
    text-align: center;
    color: white;
}

.title h1{
    font-size: 70px;
    margin-top: 150px;
}
.title h2{
    margin: 20px auto;
    font-weight: 100;
    font-size: 50px;
    line-height: 25px;
}
.title h3{
    margin: 10px auto;
    font-weight: 100;
    font-size: 30px;
    line-height: 25px;
}

.pfp{
    transform: translateY(-40%);

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfp img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px;
}
ion-icon{
    animation: fadeInLinks 1s;
    font-size: 64px;
    transform: translateY(1020%);
    margin: 0 auto;
    max-width: 750px;
    margin-left: 210px;
  }
.twitter{
    color: rgb(29, 155, 239);
    text-align: center;
}
.twitch{
    color: rgb(169, 112, 255);
    text-align: center;
}
.tiktok{
    color: rgb(255, 255, 255);
    text-align: center;
}
.youtube{
    color: rgb(255, 0, 0);
    text-align: center;
}
.discord{
    color: rgb(88, 101, 242);
    text-align: center;
}
.wishlist{
    color: rgb(255, 255, 255);
    text-align: center;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }

    to{
        opacity: 1;
        transform: translateY(-55%);
    }
}
@keyframes fadeInPfp {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }

    to{
        opacity: 1;
        transform: translateY(-40%);
    }
}
@keyframes fadeInLinks{
    from{
        opacity: 0;
        transform: translateY(2000%);
    }

    to{
        opacity: 1;
        transform: translateY(1020%);
    }
}
@keyframes fadeInPfpPhone{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }

    to{
        opacity: 1;
        transform: translateY(-50%);
    }
}


@media screen and (max-width: 534px) {
    ion-icon{
        font-size: 64px;
        transform: translateY(1020%);
        margin: 0 auto;
        max-width: 750px;
        margin-left: 100px;
      }
    .pfp{
        animation: fadeInPfpPhone 1s;
        transform: translateY(-40px);
    }
    .title h3{
        margin: 10px auto;
        font-weight: 100;
        font-size: 24px;
        line-height: 25px; 
    }
    
}

@media screen and (max-width: 1580px){
    .pfp{
        transform: translateY(-45%);
    }
}

@media screen and (max-width: 959px){
    .pfp{
        transform: translateY(-55%);
    }
}

@media screen and (max-width: 649px) {
    .pfp{
        transform: translateY(-50%);
    }
    ion-icon{
        font-size: 64px;
        transform: translateY(1020%);
        margin: 0 auto;
        max-width: 750px;
        margin-left: 100px;
      }
}

@media screen and (min-width: 1920px){
    .title{
        animation: fadeIn 1s;
    }
    ion-icon{
        animation: fadeInLinks 1s;
    }
    .pfp{
        animation: fadeInPfp 1s;
    }
}